@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --fundo-principal: #F9F9FE;
    --texto-principal: #1C3058;
    --destaque-claro: #95ABD3;
    --superficie-clara: #E9E9E9;
    --botao-principal: #3059C1;
    --destaque-principal: #3E5B93;
    --tracado: #B2B2B6;

    --fonte-principal: 'Outfit', Arial, Helvetica, sans-serif;
}

/* =========================
   BODY
========================= */

body {
    margin: 0px;
    background-color: var(--fundo-principal);
}

/* =========================
   HEADER
========================= */

header {
    display: flex;
    justify-content: flex-end;

    width: auto;

    background-color: var(--fundo-principal);

    border-bottom: 1px solid var(--tracado);

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

#img-logo {
    height: 75px;

    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 25px;

    margin-right: auto;
}


/* =========================
   BOTÕES HEADER
========================= */

.img-chat,
.img-sino {
    margin-left: 5px;
    margin-right: 5px;

    border: none;

    background-color: transparent;

    color: var(--texto-principal);

    size: 50px;
}

.img-chat i,
.img-sino i {
    font-size: 40px;
    color: var(--texto-principal);
}

/* =========================
   PERFIL
========================= */

.img-perfil {
    margin-left: 5px;
    margin-right: 25px;

    border: none;

    background-color: transparent;
}

.img-perfil img {
    width: 40px;
}

/* =========================
   PESQUISA
========================= */

#pesquisa {
    width: 1000px;
    height: 125px;

    margin: auto;
    margin-top: 25px;

    background-color: var(--fundo-principal);

    border: 1px solid var(--tracado);
    border-radius: 15px;
}

.pesquisa-cima {
    display: flex;
    align-items: center;
    gap: 15px;

    padding: 15px 15px 0 15px;
}

.pesquisa-baixo {
    margin-top: 15px;
}

/* =========================
   CONTAINER
========================= */

.container {
    display: flex;
    gap: 15px;

    padding: 0 15px 15px 15px;
}

/* =========================
   PARTIDA
========================= */

.partida {
    display: flex;
    flex: 1;

    height: 40px;
    width: 650px;

    margin: 0;

    background-color: var(--superficie-clara);

    border: none;
    border-radius: 50px;
}

.criar-carona {
    height: 40px;
    padding: 0 20px;

    border: none;
    border-radius: 50px;

    background-color: var(--botao-principal);
    color: var(--superficie-clara);

    font-family: var(--fonte-principal);
    font-size: 25px;

    white-space: nowrap;
}

/* =========================
   PARTIU
========================= */

.partiu {
    display: flex;
    align-items: center;

    flex: 1;
    height: 100%;

    padding-left: 20px;

    gap: 12px;

    border: none;
    background-color: transparent;

    color: var(--texto-principal);

    font-family: var(--fonte-principal);
}

.partiu p {
    margin: 0;
    font-size: 25px;
}

.partiu i {
    font-size: 25px;
    color: #1C3058;
}

/* =========================
   TROCAR
========================= */

.trocar {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 70px;
    height: 100%;

    padding: 0;

    border: none;

    background: transparent;

    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;

    color: var(--texto-principal);

    font-size: 25px;
    line-height: 1;
}

.trocar i {
    position: relative;
    top: 1px;
}

/* =========================
   DESTINO
========================= */

.destino,
.horario {
    flex: 1;
    height: 40px;

    margin: 0;

    background-color: var(--superficie-clara);

    border: none;
    border-radius: 50px;

    font-family: var(--fonte-principal);
    font-size: 25px;
    font-weight: bolder;
}

.filtrar {
    width: 140px;
    height: 40px;

    margin: 0;

    background-color: var(--botao-principal);

    border: none;
    border-radius: 50px;

    color: var(--superficie-clara);

    font-family: var(--fonte-principal);
    font-size: 25px;
    font-weight: bolder;
}